In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [20]:
dados = pd.read_csv('casas.csv')

dados.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [21]:
dados.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [22]:
x = dados.drop('preco', axis=1)
y = dados['preco']

In [23]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [24]:
treino_x.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [25]:
modelo = LinearRegression()
modelo.fit(treino_x, treino_y)

LinearRegression()

In [26]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [27]:
modelo.intercept_

-1484640.8721676648

### Salvando o modelo treinado em um arquivo

In [29]:
pickle.dump(modelo, open('modelo.sav', 'wb'))